.main-header{
    width: 100%;
    background-color: brown;
    text-align: center;
    font-size: 20px;
    padding: 3em;
    
    .header-h1{
        border: 5px solid white;
        text-align: center;
        font-size: 40px;
        color: wheat;
        border-radius: 30px;
        padding: 10px;
        display: inline;
    
    }
}